<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- metadata 설정 문서(xml) 가져오기 -->
	<import resource="classpath:sample06/springDIList01.xml"/>
	<!-- <bean class="sample06.ListBean" id="listBean" ></bean> -->
	<bean class="sample06.ListBean" id="listBean">
		<property name="intList" >
			<list>
				<value>10</value>
				<value>20</value>
				<value>30</value>
				<value>40</value>
				<value>50</value>
				<value>60</value>
			</list>
		</property>
		<property name="strList">
			<list>
				<value>사과</value>
				<value>자두</value>
				<value>바나나</value>
				<value>배</value>
				<value>포도</value>
			</list>
		</property>
		<property name="customerList">
			<list>
				<ref bean="cu1"/>
				<ref bean="cu2"/>
				<ref bean="cu3"/>
				<ref bean="cu4"/>
				<ref bean="cu5"/>
				<ref bean="cu6"/>
				<bean class="sample06.Customer" id="cu7">
					<property name="id" value="hee"></property>
					<property name="addr" value="경기"></property>
					<property name="age" value="12"></property>
				</bean>
			</list>
		</property>
	</bean>
</beans>
