<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="JoinMapper">
	<!-- 1 : 1인 경우 mapping -->
	<resultMap type="commentbDTO" id="associationMap">
		<id column="comment_No" property="commentNo" />
		<result column="user_id" property="userId" />
		<result column="comment_content" property="commentContent" />
		<result column="reg_date" property="regDate" />
		<association property="user" javaType="userDTO">
			<id column="user_id" property="userId" />
			<result column="user_name" property="userName" />
		</association>
	</resultMap>
	
	<!-- 1 : 다인 경우 mapping -->
	<resultMap type="commentbDTO" id="collectionMap">
		<id column="comment_No" property="commentNo" />
		<result column="user_id" property="userId" />
		<result column="comment_content" property="commentContent" />
		<result column="reg_date" property="regDate" />
		<collection property="replies" ofType="replyDTO">
			<id column="reply_no" property="replyNo"/>
			<result column="comment_no" property="commentNo"/>
			<result column="reply_id" property="userId"/>
			<result column="reply_content" property="replyContent"/>
			<result column="reg_date" property="regDate"/>
		 </collection>
	</resultMap>

	<!--1:1의 관계 문제1) 한개의 Comment는 한명의 작성자 정보를 가진다. -->
	<select id="associationJoin" resultMap="associationMap">
		SELECT c.comment_No,
		c.user_id, u.user_name, c.comment_Content, c.reg_Date
		FROM commentb c
		JOIN users u
		ON c.user_id = u.user_id
	</select>


	<!--1:다의 관계 문제2) 한개의 Comment는 여러명의 유저가 작성할 수 있다. -->
	<select id="collectionJoin" resultMap="collectionMap">
		SELECT c.comment_no, c.user_id, c.comment_Content,
		r.reply_no, r.reply_content, r.reg_date, r.user_id as reply_id
		FROM commentB c JOIN reply r
		ON c.comment_no = r.comment_no
	</select>
	
	<select id="selectAll" resultType="commentbDTO">
		select comment_no, user_id, comment_content, reg_date FROM commentb
	</select>
	
	<insert id="insert" parameterType="commentbDTO">
		insert into commentb values(#{commentNo}, #{userId}, #{commentContent}, sysdate)
	</insert>
</mapper>