<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- @required 기능 선언 -->
	<!-- <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>	
	 --><!-- @autowired 기능 선언 -->
	<!-- <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>
	 -->
	 
	 <!-- 여러 개의 클래스(@Annotation)을 한 번에 자도 스캐닝해주는 context 선언\
	 	@required, @autovired, @qualifier, @resource, @postConstructor, @predestroy, @configurataion 자동 스캐닝 -->
	 <context:annotation-config></context:annotation-config>
	<!-- 객체 생성 -->
	<bean class="sample09.EmpDTO" id="emp1">
		<property name="empno" value="100"></property>
		<property name="ename" value="희정"></property>
	</bean>
	<bean class="sample09.EmpDTO" id="dto">
		<property name="empno" value="200"></property>
		<property name="ename" value="희정"></property>
		<qualifier value="aa"></qualifier>
	</bean>
	
	<bean class="sample09.EmpController" id="controller"></bean>
	<bean class="sample09.EmpService" id="service"></bean>
	
	<bean class="sample09.ResourceBean" id="resourceBean"></bean>
</beans>
